<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <link href="/bootstrap.min.css" rel="stylesheet"/>
    </head>
    <body>
        <main>
            <div class="album py-5">
                <div class="container">
                    <h3 class="my-2">Add New Event Category Form</h3>
                    <div class="row row-cols-1 row-cols-sm-2 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <form action="/add-category-post" method="POST">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">* Category Name</label>
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Enter category name">
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="form-label">Description of Category</label>
                                            <input type="text" name="description" class="form-control" id="description" placeholder="Enter category description">
                                        </div>
                                        <div class="mb-3">
                                            <label for="image" class="form-label">Image</label>
                                            <input type="text" name="image" class="form-control" id="image" placeholder="Enter category image">
                                        </div>
                                        <button class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>